h1{
    color: #7665a0;
    text-align: center;
    line-height: 50px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

h2{
    text-align: center;
}

ul{
    list-style-type: none;
    text-align: center;
    font-size: 30px;
    color: blue;
}

p{
    text-align: center;
}

a{
    text-decoration-style: wavy;
}